{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>Call me Ishmael</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Quam elementum pulvinar etiam non. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Viverra tellus in hac habitasse platea. In egestas erat imperdiet sed euismod nisi. Volutpat sed cras ornare arcu dui. Lacinia quis vel eros donec ac odio tempor orci dapibus. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Duis at tellus at urna condimentum mattis pellentesque. Vestibulum sed arcu non odio euismod lacinia. Facilisi morbi tempus iaculis urna id volutpat lacus. Aenean et tortor at risus viverra adipiscing at.</p>
{% endblock %}