{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  
  <div class="row">
    <div class="col">
    <div class="col-12 col-sm-6 col-md-8 offset-md-2"></div>
      <h1> The Captain's Journal </h1>
      <p>
        This is a random link <a href="detail-page.html">link to detail-page.html</a>. Arrr Matey, My name is Captain McGillicutty and I'm a pirate that sails the sea during the harshest of storms and on the most peaceful waves. There's never all good or all bad in this way of life. This is a diary I created to log my experiences on the sea, and to share with anyone else who is interested in learning about a pirate's life. 
      </p>
       {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
